<%- include ('./partials/header') %>

<div class="landing">
	<h1 class="heading-1">Medification</h1>
	<a class="btn_links" href="/show">Show all records</a>
	<a class="btn_links" href="/query">Query record</a>
</div>


<%- include ('./partials/footer') %>